<h1>Seja bem vindo</h1>
<p>O idioma usado nessa aplicacao eh: <strong><%= t('actual_locale') %></strong></p>
<p><strong>Data: <%= l(Date.today) %></strong></p>
<p><%= t('hello') %></p> <!--I18n.t('hello')-->

<%= render "menu" %>

<p>
  Voce estar em ambiente de <strong><%= ambiente_rails %></strong>
</p>
<p>
  Eu sou uma variavel de instancia/sessao <strong><%= @meu_nome %></strong>
</p>

<p>
  Meu curso eh o curso de <%= @curso %>
</p>
