<h1>Seja bem vindo</h1>
<p>
  <strong>Data: <%= data_br(Date.today) %></strong>
</p>
<ul>
  <li>
    <%= link_to "Cadastro de Moedas", coins_path %>
  </li>
</ul>

<p>
  Voce estar em ambiente de <strong><%= ambiente_rails %></strong>
</p>
<p>
  Eu sou uma variavel de instancia/sessao <%= @nome %>
</p>

<p>
  Meu curso eh o curso de <%= @curso %>
</p>
